<h2>Moi bohaterowie</h2>
<!-- <button type="button" (click)="onUnSelect()" class="deselect">Odznacz wszystkie</button> -->
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!-- <button type="button" (click)="onSelect(hero)" [class.selected]="hero===selectedHero"> -->
            <a routerLink="/detail/{{hero.id}}">
            <span class="badge"> {{hero.id}} </span>
             {{hero.name}} 
            </a>
        <!-- </button> -->
    </li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->